db/tablas.db
__pycache__/sensorLibD6T.cpython-36.pyc
__pycache__/modelo.cpython-37.pyc
__pycache__/modelo.cpython-36.pyc
__pycache__/audios.cpython-36.pyc
bienvenida.mp3
bienvenido.mp3
diaNoIngreso.mp3
introHombre.mp3
introMujer.mp3
menorEdad.mp3
temperaturaElevada.mp3
__pycache__/audios.cpython-37.pyc
__pycache__/sensorLibD6T.cpython-37.pyc
tablas.db
